
{% extends 'adminpart/base.html' %}

{% load static%}
{% block content %}
<script type="text/javascript">

</script>


</head>
<body>


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-x ml-5" style="min-height:844vh">

<!-- ============================ COMPONENT LOGIN   ================================= -->
	<div class="card mx-auto" style="max-width: 500px;">
		<div class="card-body">
		
		   <form   method="POST" enctype="multipart/form-data"  class="post-form" action="/adminpanel/add_product/">  
        {% csrf_token %} 
        {% for f in update %}
        <div class = 'form-group'>
    
          {{f.label_tag}}{{f}} {{f.errors|striptags}}
    
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-success ml-5"> Add</button>
      </div>   
  </form>
	


<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.js"></script>
		<p class="float-md-right"> 
			Copyright © 2022 Everything Inc. All rights reserved.
		</p>
		
{% endblock %}



