
{% extends 'adminpart/base.html' %}

{% load static%}


{% block content %}

<div class='ml-5 mt-5 col-xm-12-lg-2'>
  <div class="border" style="color:black;"><a class="btn btn" href="/adminpanel/addcategory/" role="sumbit"><button type="button" class="btn btn-outline-success">Add Category</button></a></div>

  <table class="table">
    <thead> 
      <tr>
        <th  scope="col" class="border border-primary " style="color:black;">Category Name</th>
        <th  scope="col" class="border border-primary " style="color:black;">Edit Category</th>
        <th  scope="col" class="border border-primary " style="color:black;"> Delete Category </th>
      </tr>
    </thead>
    {% for i in categories  %}
   
    <tbody class="border border-danger">
      <tr>
        <td class="border border-primary" style="color:black;">{{i.category_name }}</td>
        <td class="border border-primary" style="color:black;"><a class="btn btn" href="{% url 'editcategory' i.id %}" role="sumbit"><button type="button" class="btn btn-outline-warning">Edit</button></a></td>
        <td class="border border-primary" style="color:black;"><a class="btn btn delete" data-confirm="Are you sure to delete this item?" href="{% url 'deletecategory' i.id %}" role="sumbit"><button type="button" class="btn btn-outline-danger">Delete</button></a></td>
      </tr>
      <script>
        var deleteLinks = document.querySelectorAll('.delete');
        for (var i = 0; i < deleteLinks.length; i++) {
          deleteLinks[i].addEventListener('click', function(event) {
              event.preventDefault();
    
              var choice = confirm(this.getAttribute('data-confirm'));
    
              if (choice) {
                window.location.href = this.getAttribute('href');
              }
          });
        } 
      </script>
  {% endfor %}
    

{% endblock %}