{% extends 'adminpart/base.html' %}

{% load static%}
{% block content %}

<div class='table table-striped table-light mt-4  '>
    <a type="button" href ="{% url 'add_coupen'  %}" class="btn btn-primary btn-lg float-right">Add Coupen</a>
  
  
      <table  id ="example"  class="table table-bordered table-dark " style="width:100%">
        <thead> 
          <tr>
            <th  scope="col" class="border border-dark " style="color:white;">Coupen Code</th>
            <th  scope="col" class="border border-dark " style="color:white;">Coupen Offer</th>
            <th  scope="col" class="border border-dark " style="color:white;">Edit Coupen</th>
            <th  scope="col" class="border border-dark " style="color:white;"> Delete Coupen </th>
          </tr>
        </thead>
          <tbody class="border border-danger" >
            {% for i in coupen  %}
            <tr>
              <td class="border border-dark" style="color:white;">{{i.Coupencode }}</td>
              <td class="border border-dark" style="color:white;">{{i.Coupen_offer }}</td>
              <td class="border border-dark" style="color:white;"><a class="btn btn" href="{% url 'edit_coupen' i.id %}" role="sumbit"><button type="button" class="btn btn-outline-warning">Edit</button></a></td>
              <td class="border border-dark" style="color:white;"><a class="btn btn delete" data-confirm="Are you sure to delete this item?" href="{% url 'delete_coupen' i.id %}" role="sumbit"><button type="button" class="btn btn-outline-danger">Delete</button></a></td>
            </tr>
            
            {% endfor %}
          </tbody>
          
        </table>
  </div>
        
      
      <script>
        $(document).ready( function () {
            $('#example').DataTable();
        } );
    </script>
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap4.min.js"></script>
      <br>
      <div class= ' mb-5'>
    

{% endblock %}