{% extends 'adminpart/base.html' %}

{% block content%}
{% load static %}


<div class='table table-striped table-light mt-4 '>
  <a class="btn btn  float-right" href="/adminpanel/add_product/"  role="submit"><button type="button" class="btn btn-primary btn-lg">Add Product</button></a>
    <table  id ="example"  class="table table-striped table-bordered" class="table">
    <thead> 
      <tr>
        <th  scope="col" class="border border-dark " style="color:black;">Product Id</th>
        <th  scope="col" class="border border-dark " style="color:black;">Product Name</th>
        <th scope="col" class="border border-dark" style="color:black;">Category</th>
        <th scope="col" class="border border-dark" style="color:black;">description</th>
        <th scope="col" class="border border-dark" style="color:black;">Product_prize</th>
        <th scope="col" class="border border-dark" style="color:black;">Product stock</th>
        <th scope="col" class="border border-dark" style="color:black;">Available</th> 
        <th scope="col" class="border border-dark" style="color:black;">Edit Product </th>
        <th scope="col" class="border border-dark" style="color:black;"> Delete Product</th>

        
      </tr>
    </thead>

    
     <tbody class="border border-danger">
    
    {% for i in products  %}
      <tr>
        <td class="border border-dark" style="color:black;">{{i.id }}</td>
        <td class="border border-dark" style="color:black;">{{i.product_name }}</td>
        <td class="border border-dark" style="color:black;">{{i.category_type.category_name}}</td>
        <td class="border border-dark" style="color:black;">{{i.product_description}}</td>
        <td class="border border-dark" style="color:black;">{{i.product_prize}}</td>
        <td class="border border-dark" style="color:black;">{{i.stock}}</td>
        <td class="border border-dark" style="color:black;">{{i.is_available  }}</td>
        <td class="border border-dark" style="color:black;"><a class="btn btn" href="{% url 'update_product' i.id %}" role="sumbit"><button type="button" class="btn btn-outline-warning">Edit</button></a></td>
            <a  class=" delete" data-confirm="Are you sure to delete this item?"><td class="border border-primary" style="color:black;"><a class=" delete btn btn" data-confirm="Are you sure to delete this item?" href="{% url 'delete_product' i.id %}" role="sumbit"><button type="button" onclick=alert('Item deleted') class="btn btn-outline-danger">Delete</button></a></a>
          </div></td>
      </tr>
  {% endfor %}
    
    </tbody>
  </table>

  <script>
    var deleteLinks = document.querySelectorAll('.delete');
    for (var i = 0; i < deleteLinks.length; i++) {
      deleteLinks[i].addEventListener('click', function(event) {
          event.preventDefault();

          var choice = confirm(this.getAttribute('data-confirm'));

          if (choice) {
            window.location.href = this.getAttribute('href');
          }
      });
    } 
  </script>
 

  </div>

      
  <script>
    $(document).ready( function () {
        $('#example').DataTable();
    } );
</script>
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap4.min.js"></script>

  

  {% endblock %}
