{% extends 'adminpart/base.html' %}

{% load static%}
{% block content %}




<div class='table table-striped table-light  mt-3 '>
    <button  id="dl-pdf"  class="btn btn-primary btn-lg ml-3 mb-3"> Download as pdf</button><span> <a  id="dl-pdf" href=" {% url 'export_as_excel' %}" class="btn btn-primary btn-lg ml-3 mb-3"> Download as Excel</a></span>

    <table id ="example"  class="table table-striped table-bordered" style="width:100%">
        <thead>
          <tr>
            <th  scope="col" class="border border-dark " style="color:black;">No:</th>
            <th  scope="col" class="border border-dark " style="color:black;">Customer</th>
            <th scope="col" class="border border-dark" style="color:black;">Product Name</th>
            <th scope="col" class="border border-dark" style="color:black;">Category  Name</th>
            <th scope="col" class="border border-dark" style="color:black;">Quantity</th>
            <th scope="col" class="border border-dark" style="color:black;">Total prize(INR)</th>
            <th scope="col" class="border border-dark" style="color:black;">Payment method</th>
            <th scope="col" class="border border-dark" style="color:black;">Order date</th>
            <th scope="col" class="border border-dark" style="color:black;">Transaction ID</th>
            <th scope="col" class="border border-dark" style="color:black;">Order status</th>
          </tr>
        </thead>
        <tbody class="border border-danger" >
        {% for i in Items  %}
          <tr>
            <th scope="row" class="border border-dark" style="color:black;">
                  {{ forloop.counter }}
         
            </th>
            <th scope="row" class="border border-dark" style="color:black;">{{i.user_name}}</th>
            <td class="border border-dark" style="color:black;">{{i.order_product}}</td>
            <td class="border border-dark" style="color:black;">{{i.order_product.category_type}}</td>
            <td class="border border-dark" style="color:black;">{{i.quantity}}</td>
            <td class="border border-dark" style="color:black;">{{i.total_prize}}</td>
            <td class="border border-dark" style="color:black;">{{i.payment_method}}</td>
            <td class="border border-dark" style="color:black;">{{i.date_ordered}}</td>
            <td class="border border-dark" style="color:black;">{{i.transcation_id  }}</td>
         
            <td class="border border-dark" style="color:black;"> {{i.status}}</td >
             
          
          </tr>
          
          {% endfor %}
        </tbody>
        
      </table>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
</div>
      <script type="text/javascript">
          document.getElementById('dl-pdf').onclick = function(){
              var element  = document.getElementById('example')
              var opt = {
                  margin : 1 ,
                  filename: 'myfile.pdf',
                  image    : {type: 'jpeg',quality :0.98},
                  html2canvas :{scale :2},
                  jsPDF : {unit: 'in',format: 'letter',orientation:'portrait'}

              };
              html2pdf(element,opt);
          };

      </script>
    
    <script>
      $(document).ready( function () {
          $('#example').DataTable();
      } );
  </script>
  <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap4.min.js"></script>
    <br>
    <div class= ' mb-5'>
















{% endblock %}