{% extends 'customer/header.html' %}
{% load static %}
{% block content %}


<div id="app">
    <!--====== App Content ======-->
    <div class="app-content">


        <!--====== Section 3 ======-->
     <div class="u-s-p-b-60">
        <form Action = "" name="myForm"  id = "form"   method="get">
            <!--====== Section Content ======-->
            <div class="section__content">
                <div class="container">
                    <div class="checkout-f">
                        <div class="row">
                         
                            <div class="col-lg-12">
                                <h1 class="checkout-f__h1">ORDER SUMMARY</h1>

                                <!--====== Order Summary ======-->
                                <div class="o-summary">
                                    <div class="o-summary__section u-s-m-b-30">
                                        <div class="o-summary__item-wrap gl-scroll">
                                        
                                        
                                           
                                           {% for item in Items %}
                                            <div   class="o-card">
                                                <div class="o-card__flex">
                                                    <div class="o-card__img-wrap">

                                                        <img class="u-img-fluid"  src="{{item.product_image.url }}" alt=""></div>
                                                    <div class="o-card__info-wrap">

                                                        <span class="o-card__name mt-3">

                                                            <a id= "product"  data-product="{{item.id}}" href="{% url 'selected_Product' item.id %}">{{item.product_name}}</a></span>

                                                        <span class="o-card__quantity">Quantity x 1</span>

                                                        <span class="o-card__price text-danger"> INR {{item.get_coupen_offer_prize}}</span></div>
                                                </div>

                                             
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="o-summary__section u-s-m-b-30">
                                        <div class="o-summary__box">
                                            <h1 class="checkout-f__h1">SHIPPING & BILLING</h1>
                                            <span class="ship-b__text">Ship to: </span>
                                            <div class="row">
                                                {% if form %}
                                                {% for i in form %}
                                                <div class="col-sm-6 mt-2">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <h5 class="card-title">Address  {{ forloop.counter }}</h5>
                                                            <p class="ship-b__p">{{i.first_name}} {{i.last_name}} 
                                                                <br>{{i.house_name}} , {{i.street_name}} street 
                                                                <br>{{i.city}} {{i.state}}<br> postal-code:{{i.post_code}}
                                                            </p>
                                                        </div>
                                                        <div class="form-check mb-2">
                                                            <input  type="radio" name= "address" value ="{{i.id}}"  class="form-check-input address" id="ad{{forloop.counter}}"/>
                                                            <label  class="form-check-label text-danger" for="address">
                                                              Select Address  
                                                            </label>
                                                          </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            
                                            </div>
                                            {% else %}
                                              <P class = "text-danger ml-2 "> You don't have an address <P>
                                              {% endif %}
                                        </div>
                                    </div><P>
                                    <div class = "col-lg-4 mb-3">
                                        {% for i in Items  %}
                                        
                                        <a type="button" href = "{% url 'new_address' i.id %}" class="btn btn-warning btn-sm">
                                            Add new address
                                        </a>
                                        {% endfor %}
                                        
                                       
                                    </div>

                                    <div class="o-summary__section u-s-m-b-30 col-lg">
                                      <a style="background-color: red;" type="button"  onclick="coupen()" class="btn text-light btn-sm w-25 ">
                                        Have a Coupen ? 
                                    </a>
                                     <p style="color: red;">  {% include "adminpart/alert.html" %}</p>
                                      <div style="display: none;" id="coupenDiv">

                                        {% for i in  Items %}
                                          
                                        <form action= "{% url 'ordering' i.id %}"  method="post" id = 'coupenForm'>
                                          <div class="input-group mt-3">
                                            
                                            <input name="coupen" required type="text" id = "coupen" class="form-control">
                                           </div>
                                           <button type="submit" class="btn btn-sm btn-warning mt-2" onclick="coupenFform()"> Apply Coupen</button>
                                          </div>
                                          {% endfor %}
                                      </form>
                                      </div>
                                    </div>

                                    <div class="o-summary__section u-s-m-b-30">
                                        <div class="o-summary__box">
                                            <table class="o-summary__table">
                                                <tbody>
                                                   
                                                      {% for i in Items %}
                                                        
                                                      <tr>
                                                          <td>TOTAL</td>
                                                          <td>₹ {{i.get_coupen_offer_prize }}</td>
                                                        </tr>
                                                       
                                                    <tr>
                                                        <td>DELIVERY CHARGE</td>
                                                        <td> ₹ 40</td>
                                                    </tr>
                                                    <tr>
                                                        <td>TAX</td>
                                                        <td>₹ {{tax}}</td>
                                                    </tr>
                                                    
                                                 
                                                 
                                                    <tr>
                                                        <td class = "text-danger" >GRAND TOTAL</td>
                                                        {% if grandtotal %}
                                                        <td  id = "prize" data-prize="{{grandtotal}}" class = "text-danger"> ₹ {{grandtotal}}</td>

                                                        {% else %}
                                    
                                                        <td  id = "prize" data-prize="{{i.get_Total_prize}}" class = "text-danger"> ₹ {{i.get_Total_prize}}</td>
                                                        {% endif %}
                                                      
                                                    </tr>
                                                </tbody>
                                            </table>
                                            {% endfor %}
                         
                                        </div>
                                    </div>
                                   


                                    <script>
                                              function coupen() {
                                        
                                                var x = document.getElementById("coupenDiv");
                                                  x.style.display = "block";
                                                  
                                              }
                                              function  coupenForm(){
                                                let coupen = document.forms["myForm"]["coupen"].value;
                                                
                                            
                                                  console.log('user in logged in ,sending data....')
                                          
                                              var url = '/coupen_check/'
                                            fetch(url,{
                                            method:'POST',
                                            headers:{'content-Type':'application/json',
                                            'X-CSRFToken':csrftoken,
                                             },
                                             body:JSON.stringify({'coupen':coupen,
                                            })

                                           })
                                           .then((response)=>{
                                           return response.json()
                                            })
                                           .then((data)=>{
                                              console.log('data:',data)
                                           alert('hehehheeheheh')
                                           })
                        
                                              }
                                              
                                            
                                      </script>







                                    <div class="o-summary__section u-s-m-b-30">
                                        <div class="o-summary__box">
                                            <h1 class="checkout-f__h1">PAYMENT INFORMATION</h1>
                                          
                                                <div class="u-s-m-b-10">

                                                    <!--====== Radio Box ======-->
                                                    <div class="radio-box">

                                                        <input type="radio" id="cash-on-delivery"  onclick="showDiv()" value="cod" name="payment">
                                                        <div class="radio-box__state radio-box__state--primary">

                                                            <label class="radio-box__label" for="cash-on-delivery">Cash on Delivery</label></div>
                                                    </div>
                                                    <!--====== End - Radio Box ======-->

                                                </div>
                                             
                                              
                                               
                                                <div class="u-s-m-b-10">

                                                    <!--====== Radio Box ======-->
                                                    <div class="radio-box">

                                                        <input type="radio" id = "paypalid" value="paypal" onclick="showDiv()" name="payment">
                                                        <div class="radio-box__state radio-box__state--primary ">

                                                            <label class="radio-box__label" for="pay-pal">Pay Pal</label></div>
                                                    </div>
                                                    <!--====== End - Radio Box ======-->
                                                    

                                                </div>
                                                <div class="u-s-m-b-10">

                                                    <!--====== Radio Box ======-->
                                                    <div class="radio-box">

                                                        <input type="radio" id="razopay" onclick="showDiv()" value="razorpay" name="payment">
                                                        <div class="radio-box__state radio-box__state--primary ">

                                                            <label class="radio-box__label" for="razopay">Razopay</label></div>
                                                    </div>
                                                    <!--====== End - Radio Box ======-->
                                                    

                                                </div>
                                             
                                             

                                                    <div id = "placeorder">
                                                        <input style="background-color: red;" onclick="validateForm()" class="btn btn--e-brand-b-2 "  value="PLACE ORDER" type="button"></div>

                                                        <div>
                                                            <div id="myDIV">
                                                        
                                                           
                                                     
                                                        <div id="paypaldiv"  style="display:none;" class="answer_list" >
                                                            <h1 class="checkout-f__h1">Pay with PayPal</h1>
    
                                                        <div id="smart-button-container">
                                                            <div style="text-align: center;">
                                                            <div id="paypal-button-container"></div>
                                                            </div>  
                                                        </div>
                                                        </div>
                                                        <!-- razor pay -->
                                                        <div id="razorpaydiv"  style="display:none;" class="answer_list" >
                                                          <form  method="POST">
                                                            <script
                                                            
                                                                src="https://checkout.razorpay.com/v1/checkout.js"
                                                                data-key="rzp_test_yN1bLHNR0eQavW" // Enter the Test API Key ID generated from Dashboard → Settings → API Keys
                                                                data-amount="29935" // Amount is in currency subunits. Hence, 29935 refers to 29935 paise or ₹299.35.
                                                                data-currency="INR"// You can accept international payments by changing the currency code. Contact our Support Team to enable International for your account
                                                                data-order_id="{{payment.id}}"// Replace with the order_id generated by you in the backend.
                                                                data-buttontext="Pay with Razorpay"
                                                                data-name="Acme Corp"
                                                                data-description="A Wild Sheep Chase is the third novel by Japanese author Haruki Murakami"
                                                                data-image="https://example.com/your_logo.jpg"
                                                                data-prefill.name="Gaurav Kumar"
                                                                data-prefill.email="gaurav.kumar@example.com"
                                                                data-theme.color="#F37254"
                                                                send_data_to_backend()
                                                            ></script>
                                                            <input style="background-color: red;" id="razorpay" type="hidden"  custom="Hidden Element" name="hidden">
                                                            </form> 
                  
                                                      </div>
                                                      </div>
                                                      <script>
                                                        document.getElementById("razorpay").addEventListener("click", function(event){
                                                          event.preventDefault()
                                                          send_data_to_backend()
                                                        
                                                         
                                                        });
                                                      </script>
                                        </div>
                                    </div>
                                </div>
                                <!--====== End - Order Summary ======-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section Content ======-->
        </form>
      </div>
        <!--====== End - Section 3 ======-->
    </div>
    
    <!--====== End - App Content ======-->
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src ="https://www.paypal.com/sdk/js?client-id=AXFtIbQiSj8ugYxqBxOyQEXV2pXBoTdlWk10t1nHTf2LAqqapZd3isxVNHGtUIUFKJKjD43ooSxq-dal&currency=USD&disable-funding=credit,card" data-sdk-integration-source="button-factory"></script>
       
                        
    <!--====== Modal Section ======-->
    <!--=========================== script starting ======================================-->
             <script>
                let total= document.getElementById('prize')
                let num =total.getAttribute('data-prize');
                function showDiv() {
                    let payment = document.forms["myForm"]["payment"].value;
                    if(payment == 'paypal'){
                        
                        let address = document.forms["myForm"]["address"].value;
                        if (address == ''){
                            document.getElementById('paypalid').checked =false
                           validateForm()

                        }
                        else{
                        document.getElementById('paypaldiv').style.display = "block";
                        document.getElementById('placeorder').style.display = "none";
                        document.getElementById('razorpaydiv').style.display = "none";
                    }
                        
                       

                    } 
                    
                    else if (payment == "cod"){
                    document.getElementById('paypaldiv').style.display = "none";
                    document.getElementById('placeorder').style.display = "block";
                    document.getElementById('razorpaydiv').style.display = "none";
                   

                     }
                     else if (payment == 'razorpay'){
                      document.getElementById('razorpaydiv').style.display = "block";
                        document.getElementById('placeorder').style.display = "none";
                        document.getElementById('paypaldiv').style.display = "none";
                        

                     }
                    
                  
                     }

                     function initPayPalButton() {
                        paypal.Buttons({
                          style: {
                            shape: 'rect',
                            color: 'gold',
                            layout: 'vertical',
                            label: 'paypal',
                            
                          },
                  
                          createOrder: function(data, actions) {
                            return actions.order.create({
                              purchase_units: [{"amount":{"currency_code":"USD","value":num}}]
                            });
                          },
                  
                          onApprove: function (data, actions) {
                            return actions.order.capture().then(function (details) {
                              // Show a success message to the buyer
                              alert('Transaction completed by ' + details.payer.name.given_name + '!');
                      
                              send_data_to_backend()
                             
                            });
                          },
                      
                  
                          onError: function(err) {
                            console.log(err);
                          }
                        }).render('#paypal-button-container');
                      }
                      initPayPalButton();







            function validateForm() {

                 if ( addressCheck() == true && paymentcheck() == true  ) {
                   let payment = document.forms["myForm"]["payment"].value;  
                    if (payment == 'cod'){
                        let address = document.forms["myForm"]["address"].value;
                        let payment = document.forms["myForm"]["payment"].value; 
                        let product = document.getElementById('product')
                        var productId = product.getAttribute('data-product');
                       
                        let total= document.getElementById('prize')
                        let num =total.getAttribute('data-prize');
                        let get_total = parseInt(num)
                        alert(get_total)
                      

                     
                       
                        
                    
                        var url = '/order_placing/'
                        fetch(url,{
                        method:'POST',
                        headers:{'content-Type':'application/json',
                        'X-CSRFToken':csrftoken,
                        },
                        body:JSON.stringify({'payment':payment,'address':address,
                        productId:productId,'get_total':get_total})

                        })
                        .then((response)=>{
                            return response.json()
                          })
                          .then((data)=>{
                            console.log('data:',data)
                            
                            Swal.fire({
                                title: 'Order placed successfully ',
                                showClass: {
                                  popup: 'animate__animated animate__fadeInDown'
                                },
                                hideClass: {
                                  popup: 'animate__animated animate__fadeOutUp'
                                },
                                timer: 1500000,
                              })
                              setTimeout(() => {
                                window.location.href = "/order_placed/" +productId
                             }, 1000);
                              
                            
                          })
                        

                       
                    }
                 }
                function addressCheck(){
                    let address = document.forms["myForm"]["address"].value;
                    if (address == "") {
                     
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Please select address!',  
                          })
                      return false;
                    }
                    else{
                        return true
                    }
                } 
                
                function paymentcheck(){
                    let payment_method = document.forms["myForm"]["payment"].value;
                    if (payment_method == "") {
                      
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: "You don't selected any payment methods!",  
                          })
                      return false;
                    }
                    else{

                        return true
                    }

                }
             }
   

              function send_data_to_backend(){
                let address = document.forms["myForm"]["address"].value;
                let payment = document.forms["myForm"]["payment"].value; 
                let product = document.getElementById('product')
                var productId = product.getAttribute('data-product');
              
                let total= document.getElementById('prize')
                let num =total.getAttribute('data-prize');
                let get_total = parseInt(num)
               

             
               
               
            
                var url = '/order_placing/'
                fetch(url,{
                method:'POST',
                headers:{'content-Type':'application/json',
                'X-CSRFToken':csrftoken,
                },
                body:JSON.stringify({'payment':payment,'address':address,
                productId:productId,'get_total':get_total})

                })
                .then((response)=>{
                    return response.json()
                  })
                  .then((data)=>{
                    console.log('data:',data)
                    
                    Swal.fire({
                        title: 'Order placed successfully ',
                        showClass: {
                          popup: 'animate__animated animate__fadeInDown'
                        },
                        hideClass: {
                          popup: 'animate__animated animate__fadeOutUp'
                        },
                        timer: 1500000,
                      })
                      setTimeout(() => {
                        window.location.href = "/manage_account"
                     }, 1000);
                      
                    
                  })
              }








        
            </script>  
            
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.3.10/sweetalert2.js" integrity="sha512-u9p1QPpG9YeeTQeM8Uj/TTGw8/OOLJqDFB3iUNx6HwN54HcsEyT96NCjPVn+m3B5ydE9KP7wD6Kb11n1fCt5QQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.3.10/sweetalert2.min.js" integrity="sha512-LwESE8nE3vcnoUWmYo6skVQ+BRT5UhqnPweGro7e22RSDLVwftCfFIPt+Ha2tm1Gg7RXvYp/jPyih3DUB06PwA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.3.10/sweetalert2.all.js" integrity="sha512-g4BEr9uX8/EsXakUmNF2Geowd5ww8fc9bUaOblLyVJJu2okCYnge1m0pVHbHsusPKV2Dmlm7bu/i6uLisa80sw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.3.10/sweetalert2.all.min.js" integrity="sha512-IG3jJs+NhoPszr+n3I3AHLii1LFFGEVZoorGJFkrd+flS4dgdAVL0AAGiPHlXB0ZD5mgPmcpVKm4KBybCeXLLA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}