{% extends 'customer/header.html' %}
{% load static %}
{% block content%}

    <!--====== Main App ======-->
    <div id="app">

        <div class="app-content">

            <!--====== Section 1 ======-->
            <div class="u-s-p-y-90">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="shop-p">
                                
                                <div class="shop-p__collection">
                                    <div class="row is-grid-active">
                                        {% if wishlist %}
                                        
                                     
                                        {% for i in wishlist  %}
                                        <div class="col-lg-3 col-md-4 col-sm-6">
                                            <div class="product-m">
                                                <div class="product-m__thumb">

                                                    <a class="aspect aspect--bg-grey aspect--square u-d-block" href="{% url 'selected_Product' i.product.id %}">

                                                        <img class="aspect__img" src="{{i.product.product_image.url}}" alt=""></a>
                                   
                                                    <div class="product-m__add-cart text-center">

                                                        <button onclick = "addcart('{{i.product.id}}','add ')" data-product = {{i.product.id}} data-action = 'add'  class = 'btn_3 add-cart-button mb-3 ' type = 'button' >
                                                            Add to cart </button>
                                                            <a  href = "{% url 'remove_wish_list' i.id %}" class = 'btn btn-danger btn-sm  rounded-pill ' type = 'button' >
                                                               Remove from wishlist </a></div>
                                                </div>
                                                <div class="product-m__content">
                                                    <div class="product-m__category">

                                                        <a href="shop-side-version-2.html">{{i.category_type}}</a></div>
                                                    <div class="product-m__name">

                                                        <a href="product-detail.html">{{i.product.product_name}}</a></div>
                                                        

                                                     
                                                        {% if i.product.get_coupen_offer_prize == i.product.product_prize %}
                     
                                                        <span style="color: red;" class = 'h5'>₹ {{i.product.product_prize}} </span> 
                                                        {% else %}
                                                        <span style="color: red;" class = 'h5'>₹ {{i.product.get_coupen_offer_prize}} </span> 
                                                        <del style="color: red;" class=" p"> 
                                                         ₹ {{ i.product.product_prize}}</del>  </h2> 
                                                         {% endif %}
                                                    <div class="product-m__hover">
                                                        <div class="product-m__preview-description">

                                                            <span class = "text-dark">{{i.product.product_description}}</span></div>
                                                      
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        {% else %}
                                        <h1 class="text-danger">Oops ! no products</h1>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="u-s-p-y-60">

                                    <!--====== Pagination ======-->
                                    <ul class="shop-p__pagination">
                                        <li class="is-active">

                                            <a href="shop-grid-full.html">1</a></li>
                                        <li>

                                            <a href="shop-grid-full.html">2</a></li>
                                        <li>

                                            <a href="shop-grid-full.html">3</a></li>
                                        <li>

                                            <a href="shop-grid-full.html">4</a></li>
                                        <li>

                                            <a class="fas fa-angle-right" href="shop-grid-full.html"></a></li>
                                    </ul>
                                    <!--====== End - Pagination ======-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section 1 ======-->
        </div>
        <!--====== End - App Content ======-->

        <script>
            function  addcart(productId,action){
              console.log('user in logged in ,sending data....')
              var url = '/update_item/'
              fetch(url,{
                 method:'POST',
                 headers:{'content-Type':'application/json',
                 'X-CSRFToken':csrftoken,
              },
              body:JSON.stringify({'productId':productId,'action':action})
          
              })
              .then((response)=>{
                 return response.json()
              })
              .then((data)=>{
                 console.log('data:',data)
           
                 Swal.fire({
                  position: 'top-end',
                
                  icon: 'success',
                  title: 'Added to cart',
                  showConfirmButton: false,
                  timer: 1500,
                })
                setTimeout(() => {
                   window.location.reload()
                }, 1000);
                 
              })
           }
           </script>
      
    </div>
  
    <script>
        window.ga = function() {
            ga.q.push(arguments)
        };
        ga.q = [];
        ga.l = +new Date;
        ga('create', 'UA-XXXXX-Y', 'auto');
        ga('send', 'pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>

    <!--====== Vendor Js ======-->
    <script src=" {% static 'js/vendor.js' %} "></script>

    <!--====== jQuery Shopnav plugin ======-->
    <script src=" {% static 'js/jquery.shopnav.js' %} "></script>

    <!--====== App ======-->
    <script src=" {% static 'js/app.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.3.10/sweetalert2.min.js" integrity="sha512-LwESE8nE3vcnoUWmYo6skVQ+BRT5UhqnPweGro7e22RSDLVwftCfFIPt+Ha2tm1Gg7RXvYp/jPyih3DUB06PwA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.3.10/sweetalert2.all.js" integrity="sha512-g4BEr9uX8/EsXakUmNF2Geowd5ww8fc9bUaOblLyVJJu2okCYnge1m0pVHbHsusPKV2Dmlm7bu/i6uLisa80sw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.3.10/sweetalert2.all.min.js" integrity="sha512-IG3jJs+NhoPszr+n3I3AHLii1LFFGEVZoorGJFkrd+flS4dgdAVL0AAGiPHlXB0ZD5mgPmcpVKm4KBybCeXLLA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.3.10/sweetalert2.js" integrity="sha512-u9p1QPpG9YeeTQeM8Uj/TTGw8/OOLJqDFB3iUNx6HwN54HcsEyT96NCjPVn+m3B5ydE9KP7wD6Kb11n1fCt5QQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!--====== Noscript ======-->
    <noscript>
        <div class="app-setting">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="app-setting__wrap">
                            <h1 class="app-setting__h1">JavaScript is disabled in your browser.</h1>

                            <span class="app-setting__text">Please enable JavaScript in your browser or upgrade to a JavaScript-capable browser.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </noscript>
</body>
</html>
{% endblock%}